body {
	margin: 2em auto;
    max-width: 760px;
    width: 65%;
	background: #1f1f1f;
	color: #f0f5f9;
	/* font-family: 'Roboto Serif', serif; */
	font-family: 'Roboto Mono', monospace;
}
section {
    clear: both;
    margin-top: 3em;
}
li {
    list-style-type: disc;
}
section > ul > li,
header > ul > li {
    list-style-type: none;
    margin-bottom: .5em;
}
.headline-name {
    border-bottom: 1px solid black;
    padding-bottom: .5em;
}
.contact-column-left {
    float: left;
    padding: 0 1px;
}
.contact-column-right {
    float: right;
    padding: 0 1px;
}

.container {
	display: flex;
	justify-content: space-around;
  }


.other {
	/* width: 100px;
	height: 200px;
	background-color: red; */
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 5px;
	grid-auto-rows: 25px;
	grid-template-areas:
	  "a a b b"
	  "c c d d"
	  "e e f f";
	align-items: start;
}
.item1 {
	grid-area: a;
}
.item2 {
	grid-area: b;
}
.item3 {
	grid-area: c;
}
.item4 {
	grid-area: d;
}
.item5 {
	grid-area: e;
}
.item6 {
	grid-area: f;
}


.vl {

	border: 0px solid;
  	border-top: 0;
 	border-bottom: 0;
  	border-right: 0;
  	border-image: linear-gradient(159deg, rgba(255, 0, 195, 0.547) 0%, rgba(0, 255, 238, 0.645) 51%, rgba(149, 0, 255, 0.648) 100%);
  	border-image-slice: 1;

	/* height: ; */
	position: absolute;
	left: 50%;
	margin-left: -3px;
	margin-top: 11em;
	top: 0;
}

#fortyTwo {
	margin-bottom: 325px;
}

#education > h4,
#education > p,
#fortyTwo > h4 {
	margin-left: 30px;
}

#education,
#experience,
.container {
	margin-bottom: 30px;
}

a, a:visited {
	color: #f0f5f9;
}

.hl {

	border: 1px solid;
  	/* border-top: 0; */
	border-left: 0;
 	border-bottom: 0;
  	border-right: 0;
  	border-image: linear-gradient(159deg, rgba(255, 0, 195, 0.547) 0%, rgba(0, 255, 238, 0.645) 51%, rgba(149, 0, 255, 0.648) 100%);
  	border-image-slice: 1;

	/* height: ; */
	width: 100%;
	/* position: absolute; */
	/* left: 50%; */
	/* margin-left: -3px; */
	/* margin-top: 11em; */
	top: 0;
}

.lhl {

	border: 1px solid;
	border-left: 0;
 	border-bottom: 0;
  	border-right: 0;
  	border-image: linear-gradient(159deg, rgba(255, 0, 195, 0.547) 0%, rgba(0, 255, 238, 0.645) 51%, rgba(149, 0, 255, 0.648) 100%);
  	border-image-slice: 1;

	width: 20%;
	margin-left: 40%;
	top: 0;
}

.fl {

	border: 1px solid;
	border-left: 0;
 	border-bottom: 0;
  	border-right: 0;

	width: 100%;
	top: 0;
}

strong {
	font-weight: bolder;
}

footer {
	align-items: center;
}